@import url("../vendor/normalize.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #d32f2f; /* Rojo */
  text-align: center;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Header Styles */
header {
  color: #ffffff; /* Blanco */
  padding: 20px 0;
}

/* Title Styles */
header h1 {
  font-size: 2.5em;
  margin: 0;
  width: 100%;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container--box {
  background-color: #388e3c; /* Verde */
  border: 2px solid #ffc107; /* Dorado */
  border-radius: 15px;
  margin: 15px;
  padding: 25px;
  width: 150px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.container--box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.container--box p {
  font-size: 1.2em;
  margin: 0 0 10px;
  color: #ffc107; /* Dorado */
  text-transform: uppercase;
  font-weight: bold;
}

/* Number Styles */
.container--number {
  font-size: 3em;
  color: black; /* Verde */
}

.alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffeb3b;
  color: #000;
  border: 2px solid #f44336;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}
